VITE_SUPABASE_URL=https://neqnbrhmacperiinpstp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5lcW5icmhtYWNwZXJpaW5wc3RwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NjMzOTgsImV4cCI6MjEwNDQzOTM5OH0.V1ZasmSAJOpMyofZsuK9pYY_kdzUlOrvct_NYKEjP0Y
